.container {
    background: #f5f5f5;
    color: black;
    margin: 30px auto;
    padding: 20px;
    width: 85%;
    border-radius: 6px;
}

.features {
    display: flex;
    gap: 20px;
}

.card {
    background: #333;
    color: white;
    padding: 25px;
    border-radius: 6px;
    text-align: center;
    flex: 1;
    margin: 10px;
}

.admin {
    display: flex;
    justify-content: space-around;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background: #333;
    color: white;
}

th,
td {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input,
select,
.button {
    margin: 10px;
    padding: 8px;
}

.button {
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: #000;
    color: white;
}